$light: #fff;
$black: #000000;
$bg-1: #eaeaea; // header background
$bg-2: #f8f8f8; // main page background

$grey-80: #808080; // bg under contacts
$grey-66 : #666666; // section titles
$grey-95: #969595; // Price block net price
$grey-E6: #E6E6E6; // bg of aside
$grey-D1: #d2d1d1; // radius bg of title char

$green-start: #C3F544;
$green-end: #74A400;
$green-md: #A7D82C;

// @include media('min', 'sm') { }
// @include media('min', 'lg') { }
